<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Employees</h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a class="btn btn-primary" ui-sref="employee.new">Add</a>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <th class="col-md-1 text-center">#</th>
                <th class="col-md-2 text-center">Name</th>
                <th class="col-md-1 text-center">Seniority</th>
                <th class="col-md-1 text-center">Age</th>
                <th class="col-md-5 text-center">Address</th>
                <th class="col-md-1"></th>
                <th class="col-md-1"></th>
            </tr>

            <tr ng-repeat="item in ctrl.data.employees">
                <td class="text-center">{{ $index + 1 }}</td>
                <td class="text-center">{{ item.firstName  + ' ' + item.lastName}}</td>
                <td class="text-center">{{ item.seniority }}</td>
                <td class="text-center">{{ item.age }}</td>
                <td>{{ item.address }}</td>
                <td class="text-center">
                    <a ui-sref="employee.edit({id: item.id})">Edit</a>
                </td>
                <td>
                    <button class="btn btn-default"
                            ng-click="ctrl.deleteEmployee(item.id)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>