<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Employee</h3>
        </div>

        <div class="panel-body">
            <form name="employee.form" class="form-horizontal"
                  ng-submit="ctrl.save()">

                <div class="form-group">
                    <label for="firstName"
                            class="control-label col-md-3">First name</label>
                    <div class="col-md-9">
                        <input name="firstName" id="firstName" type="text" required
                               class="form-control"
                               ng-model="ctrl.data.employee.firstName">
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName"
                           class="control-label col-md-3">Last name</label>
                    <div class="col-md-9">
                        <input name="lastName" id="lastName" type="text" required
                               class="form-control"
                               ng-model="ctrl.data.employee.lastName">
                    </div>
                </div>

                <div class="form-group">
                    <label for="seniority"
                           class="control-label col-md-3">Seniority</label>
                    <div class="col-md-9">
                        <input name="seniority" id="seniority" type="number" step="1"
                               class="form-control"
                               ng-model="ctrl.data.employee.seniority">
                    </div>
                </div>

                <div class="form-group">
                    <label for="age"
                           class="control-label col-md-3">Age</label>
                    <div class="col-md-9">
                        <input name="age" id="age" type="number" step="1"
                               class="form-control"
                               ng-model="ctrl.data.employee.age">
                    </div>
                </div>

                <div class="form-group">
                    <label for="address"
                           class="control-label col-md-3">Address</label>
                    <div class="col-md-9">
                        <textarea name="address" id="address"
                                  class="form-control"
                                  ng-model="ctrl.data.employee.address"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-1 col-md-offset-3">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>